<footer>
    <div class="f-info">
        <div class="f-info-socials">

            <a href="https://github.com/">
                <i class="fa-brands fa-github"></i>
            </a>


           <a href="https://twitter.com/Agrawaldeepak02">
            <i class="fa-brands fa-square-x-twitter"></i>
            </a>

            <a href="https://www.linkedin.com/in/agrawaldeepak05/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3BoTB%2F3g10SFuDHGkO2SPNXg%3D%3D">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            
        </div>

        <div class="f-info-brand">&copy; WanderLust Private Limited</div>

        <div class="f-info-links">
            <a href="/listings/privacy">Privacy</a>
            <a href="/listings/terms">Terms</a>
        </div>
    </div>
</footer>