<% layout("/layouts/boilerplate") -%>

<div class="row mt-3 mb-3">
    <div class="col-12 text-centre">


        <h2 class="text-center">
            Sorry for Inconvenience.
        </h2>

        <p>Dear Valued Visitor,</p>

           <p> We apologize for any inconvenience caused, but the page you are trying to access is currently under construction. We are working diligently to enhance your experience and bring you exciting new features.</p>
            
            <p>Please check back soon as we strive to complete the updates as quickly as possible. In the meantime, feel free to explore other sections of our website or contact us if you have any urgent inquiries or concerns.</p>
            
            <p>Thank you for your patience and understanding.</p>
            
            <p>Best regards,</p>
            
            <p>Team Wanderlust</p>



    </div>

</div>