<% layout("/layouts/boilerplate") -%>


    <!-- <h3> All Listings </h3> -->

    <!-- <form method="GET" action="/listings/new">
        <button>Create New Listing</button>
    </form> because of navbar-->


    <!-- FILTER ON TOP -->

    <style>
        #filters {
            display: flex;
            flex: wrap;
            align-items: center;

        }

        .filter {
            text-align: center;
            margin-right: 2rem;
            margin-top: 2rem;
            opacity: 0.7;

        }

        .filter:hover {
            opacity: 1;
            cursor: pointer;
        }

        .filter p {
            font-size: 0.8rem;
        }

        .filter a {
            color: black;
            opacity: 0.7;
        }


        .tax-info {
            display: none;
        }

        .tax-toggle {
            border: 1px solid black;
            border-radius: 1rem;
            height: 2.5rem;
            padding: 1rem;
            margin-left: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;

        }
    </style>


    <div id="filters" class="row ">

        <div class="filter col-1">
            <div> <a href="/listings/construction"><i class="fa-solid fa-fire"></i></a> </div>
            <p>Trending</p>
        </div>

        <div class="filter col-1">
            <div> <a href="/listings/construction"><i class="fa-solid fa-bed"></i></a> </div>
            <p>Rooms</p>
        </div>

        <div class="filter col-1">
            <div> <a href="/listings/construction"><i class="fa-solid fa-mountain-city"></i></a> </div>
            <p>Iconic Cities</p>
        </div>

        <div class="filter col-1">
            <div> <a href="/listings/construction"><i class="fa-solid fa-mountain justify-content-center"></i></a>
            </div>
            <p>Mountains</p>
        </div>

        <div class="filter col-1">
            <div> <a href="/listings/construction"><i class="fa-brands fa-fort-awesome"></i></a> </div>
            <p>Castles</p>
        </div>

        <div class="filter col-1">
            <div> <a href="/listings/construction"><i class="fa-solid fa-person-swimming"></i></a> </div>
            <p>Amazing Pools</p>
        </div>

        <div class="filter col-1">
            <div> <a href="/listings/construction"><i class="fa-solid fa-campground"></i></a>
            </div>
            <p>Camping</p>
        </div>

        <div class="filter col-1">
            <div> <a href="/listings/construction"><i class="fa-solid fa-wheat-awn"></i></a> </div>
            <p>Farms</p>
        </div>

        <div class="filter col-1">
            <div> <a href="/listings/construction"><i class="fa-solid fa-snowman"></i></a> </div>
            <p>Artic</p>
        </div>

        <div class="filter col-1">
            <div> <a href="/listings/construction"><i class="fa-solid fa-water"></i></a> </div>
            <p>Lakes</p>
        </div>

        <div class="filter col-1">
            <div><a href="/listings/construction"><i class="fa-solid fa-tree"></i></a> </div>
            <p>Forest</p>
        </div>

        <div class="filter col-1">
            <div> <a href="/listings/construction"><i class="fa-solid fa-golf-ball-tee"></i></a> </div>
            <p>Golfing</p>
        </div>

        <div class="filter col-1">
            <div> <a href="/listings/construction"><i class="fa-solid fa-umbrella-beach"></i></a> </div>
            <p>Beaches</p>
        </div>

        <div class="filter col-1">
            <div> <a href="/listings/construction"><i class="fa-solid fa-caravan"></i></a> </div>
            <p>Camper vans</p>
        </div>

        <div class="filter col-1">
            <div> <a href="/listings/construction"><i class="fa-solid fa-person-skiing-nordic"></i></a> </div>
            <p>Skiing</p>
        </div>

        <div class="filter col-1">
            <div> <a href="/listings/construction"><i class="fa-solid fa-sailboat"></i></a> </div>
            <p>Boats</p>
        </div>

        <div class="filter col-1">
            <div> <a href="/listings/construction"><i class="fa-solid fa-volleyball"></i></a> </div>
            <p>Play</p>
        </div>

        <div class="filter col-1">
            <div> <a href="/listings/construction"><i class="fa-solid fa-wine-glass-empty"></i></a> </div>
            <p>Vineyard</p>
        </div>





        

    </div>







    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">

        <% for(let listing of allListings){ %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="listing-card card">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_img" style="height: 20rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b>
                                <%= listing.title %>
                            </b> <br>

                            &#8377; <%= listing.price.toLocaleString("en-IN") %>/night
                                
                        </p>
                    </div>
                </div>
            </a>
            <% } %>
    </div>


    
