<% layout("/layouts/boilerplate") -%>

    <div class="row mt-3">
        <div class="col-8 offset-2">

            <h3>Create A New Listing</h3>

            <form 
            method="POST" 
            action="/listings" 
            class="needs-validation" 
            novalidate
            enctype="multipart/form-data">


            <!-- TITLE -->
                <div class="mb-3">
                    <label 
                    for="title" class="form-label">Title</label>

                    <input type="text" 
                    name="listing[title]" class="form-control" 
                    placeholder="Add a catchy title"
                    id="title" required>

                    <div 
                    class="invalid-feedback">
                    Please provide a valid Title.
                    </div>

                </div>


                <!-- DESCRIPTION -->
                <div 
                class="mb-3">
                    <label 
                    for="description" class="form-label">Description
                    </label>

                    <textarea 
                    type="text" 
                    name="listing[description]" class="form-control" 
                    id="description"
                    required></textarea>

                    <div 
                        class="invalid-feedback">
                        Please provide a valid Description.
                    </div>
                </div>


                <!-- IMAGE UPLOAD -->


                <div 
                class="mb-3">
                    <label 
                    for="image" class="form-label">Upload Listing Image </label>

                    <input 
                    type="file" 
                    name="listing[image]" 
                    class="form-control"
                    id="image"
                    required>
                </div>


                <!-- PRICE -->
                <div 
                class="row">

                    <div 
                    class="mb-3 col-md-4">

                        <label 
                        for="price" 
                        class="form-label">Price</label>

                        <input 
                        type="number" 
                        name="listing[price]" class="form-control" placeholder="999" 
                        id="price"
                        required>

                        <div 
                        class="invalid-feedback">
                            Please provide a valid Price.
                        </div>
                    </div>


                    <!-- COUNTRY -->
                    <div 
                    class="mb-3 col-md-8">

                        <label 
                        for="country" class="form-label">Country
                    </label>
                    
                        <input 
                        type="text" 
                        name="listing[country]" class="form-control" placeholder="India" 
                        id="country"
                        required>

                        <div 
                        class="invalid-feedback">
                        Please provide a valid Country.
                        </div>
                    </div>

                </div>


                <!-- LOCATION -->
                <div 
                class="mb-3 ">

                    <label 
                    for="location" class="form-label">Location</label>

                    <input 
                    type="text" 
                    name="listing[location]" class="form-control" 
                    placeholder="Jaipur, Rajasthan"
                    id="location" required>

                    <div
                     class="invalid-feedback">
                        Please provide a valid Location.
                    </div>
                </div>


                <!-- ADD BUTTON -->
                <button 
                class="btn btn-dark add-btn mt-1">Add
                </button>
                <br><br>
            </form>
        </div>
    </div>


    <!-- required are the form validation that is on the client side. Whenever client tries to fill empty form this will remind him of to fill complete information -->

    <!-- Then we used bootstrap form validation.
    added a class"needs-validation" and novalidate" .
Then we created a new folder in public folder named js.
In that js folder we added a new fime called script.js.
in that we copied a function from bootstrap. 
then inside our boilerplate.ejs inside script tag we used it.
Inside each input we added a div that will only occur when client has submitted invalid info (in our case it is required i.e, each input and textarea is required(This is called success failure text))-->