<% layout("/layouts/boilerplate") -%>




    <div class="row mt-3 mb-3">
        <div class="col-12 text-centre">


            <h2 class="text-center">
                Wanderlust Privacy Policy
            </h2>

            <p>At Wanderlust, we understand the importance of your privacy and are committed to safeguarding
                your personal information. This Privacy Policy outlines how we collect, use, disclose, and
                protect your information when you use our website or services. By accessing or using Wanderlust,
                you agree to the terms of this Privacy Policy.</p>



        </div>

    </div>


    <div class="row mt-3 mb-3">
        <div class="col-12">


            <h4>
                1. Information We Collect
            </h4>

            <p><h6>Personal Information:</h6> When you create an account, sign up, list a property, book a property, or leave a review, we may collect personal information such as your name, email address, phone number, and payment information.</p>

            <p><h6>Usage Information:</h6> We gather information about how you interact with our website, including your IP address, browser type, device identifiers, pages visited, and time spent on each page.</p>

            <p><h6>Location Information:</h6> With your consent, we may collect your device's location data to provide location-based services such as displaying nearby properties.</p>



            <h4>
                2. How We Use Your Information
            </h4>

            <p><h6>Provide Services:</h6> We use your personal information to create and manage your account, process bookings, facilitate communication between users, and improve our services.</p>

            <p><h6>Personalization: </h6> We may use your information to personalize your experience on Wanderlust, such as recommending properties based on your preferences.</p>

            <p><h6>Communication:</h6>  We may use your contact information to send you updates, newsletters, promotional offers, or respond to your inquiries.</p>

            <p><h6>Analytics:</h6>
                We analyze usage data to understand trends, diagnose technical issues, and enhance the performance of our platform.
            </p>


            <h4>
                3. Information Sharing
            </h4>

            <p><h6>Service Providers:</h6> We may share your information with trusted third-party service providers who assist us in operating our website, processing payments, or providing customer support.</p>

            <p><h6>Legal Compliance: </h6> We may disclose your information when required by law or in response to legal requests, such as subpoenas or court orders.</p>

            <p><h6>Business Transfers: </h6>  In the event of a merger, acquisition, or sale of assets, your information may be transferred to the acquiring entity.</p>


            <h4>
                4. Your Privacy Choices
            </h4>

            <p><h6>Account Settings:</h6> You can review and update your account information at any time by accessing your account settings.</p>

            <p><h6>Communication Preferences: </h6>  You have the option to opt-out of receiving promotional emails or newsletters by following the unsubscribe instructions included in the email.</p>

            <p><h6>Location Services: </h6>  You can enable or disable location services through your device settings or within our app.</p>


            <h4>
                5. Data Security
            </h4>

            <p><h6>Encryption: </h6> We employ industry-standard security measures to protect your personal information from unauthorized access, misuse, or alteration.

            </p>

            <p><h6>Data Retention: </h6>  We only retain your information for as long as necessary to fulfill the purposes outlined in this Privacy Policy or as required by law.</p>



            <h4>
                6. Children's Privacy
            </h4>

            <p>Wanderlust is not intended for children under the age of 13. We do not knowingly collect or solicit personal information from children. If you believe a child has provided us with their information without parental consent, please contact us immediately.

                <h4>
                    7. Updates to this Privacy Policy
                </h4>

            </p>
            <p>We may update this Privacy Policy periodically to reflect changes in our practices or legal requirements. We will notify you of any significant changes by posting the revised policy on our website or through other means.</p>


            <h4>
                8. Contact Us
            </h4>
            
            <p>If you have any questions, concerns, or requests regarding this Privacy Policy or our handling of your information, please contact us at Twitter/linkedin.</p>

                

            <h5 class="text-center">
                Thank you for entrusting Wanderlust with your information. Your privacy is paramount to us.
            </h5>
        </div>

    </div>