<% layout("/layouts/boilerplate") -%>




    <div class="row mt-3 mb-3">
        <div class="col-12 text-centre">


            <h2 class="text-center">
                Wanderlust Terms and Conditions
            </h2>

            <p>Welcome to Wanderlust! These Terms and Conditions ("Terms") govern your use of our website and services. By accessing or using Wanderlust, you agree to abide by these Terms. Please read them carefully.</p>



        </div>

    </div>


    <div class="row mt-3 mb-3">
        <div class="col-12">


            <h4>
                1. User Eligibility
            </h4>

            <p><h6>Age:</h6> You must be at least 18 years old to create an account and use our services. If you are under 18, you may only use Wanderlust under the supervision of a parent or legal guardian.</p>

            



            <h4>
                2. Account Registration
            </h4>

            <p><h6>Accuracy:</h6> You agree to provide accurate and complete information when creating your account. You are responsible for maintaining the confidentiality of your account credentials and are liable for all activities conducted through your account.</p>

            


            <h4>
                3. Use of Services
            </h4>

            <p><h6>Lawful Purpose: </h6> You agree to use Wanderlust solely for lawful purposes and in compliance with these Terms and all applicable laws and regulations.</p>

            <p><h6>Prohibited Activities: </h6> You must not engage in any activities that may harm, disrupt, or interfere with Wanderlust's operation or other users' experience. Prohibited activities include but are not limited to hacking, spamming, or distributing malware</p>

            <p><h6>Intellectual Property: </h6>  You acknowledge that all content and materials available on Wanderlust, including trademarks, logos, and designs, are the property of Wanderlust or its licensors and are protected by intellectual property laws. You agree not to use, reproduce, or distribute any content without prior authorization.</p>


            <h4>
                4. Listings and Bookings
            </h4>

            <p><h6>Accuracy of Information: </h6> Property listings must be accurate, truthful, and comply with all applicable laws and regulations. As a host, you are responsible for ensuring the accuracy of your listing and availability information.</p>

            <p><h6>Booking Policies: </h6>   By booking a property through Wanderlust, you agree to abide by the host's terms and cancellation policies. Wanderlust is not responsible for any disputes between hosts and guests.</p>

            


            <h4>
                5. Payment and Fees
            </h4>

            <p><h6>Transaction Fees:</h6> Wanderlust may charge transaction fees for bookings or other services. By using our platform, you agree to pay any applicable fees as outlined in our pricing policy.

            </p>

            <p><h6>Payment Processing: </h6>  Payments made through Wanderlust are processed securely using trusted third-party payment processors. We do not store your payment information on our servers.</p>



            <h4>
                6. Limitation of Liability
            </h4>

            <p><h6>Disclaimer: </h6>Wanderlust provides its services on an "as-is" and "as-available" basis without warranties of any kind, either express or implied. We do not guarantee the accuracy, reliability, or availability of our services and disclaim all liability for any damages arising from your use of Wanderlust.

            </p>

                <h4>
                    7. Indemnification
                </h4>

            <p>**You agree to indemnify and hold Wanderlust and its affiliates, employees, and agents harmless from any claims, losses, damages, liabilities, or expenses arising from your use of our services or violation of these Terms.</p>


            <h4>
                8. Amendments
            </h4>
            
            <p>**Wanderlust reserves the right to modify or update these Terms at any time. We will notify you of any material changes by posting the revised Terms on our website or through other means.</p>

            <h4>
                9. Contact Us
            </h4>
            
            <p>**If you have any questions, concerns, or feedback regarding these Terms, please contact us at Twitter/linkedin.</p>

                

            <h5 class="text-center">
                Thank you for choosing Wanderlust. We hope you enjoy your experience with us!
            </h5>
        </div>

    </div>