<% layout("/layouts/boilerplate") -%>

<div class="container-fluid mt-3 mb-3">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto text-center">
        <h1 class="mt-5">Welcome to Wander Lust!</h1>
        <p class="lead">Embark on your journey of discovery with us, where every destination is a story waiting to unfold.</p>
        <p class="lead">At Wander Lust, we're more than just a hotel listing and booking website - we're your gateway to unforgettable experiences, whether you're seeking a cozy retreat, an exotic adventure, or a luxurious escape.</p>
        <p class="lead">Explore our curated collection of handpicked accommodations, ranging from charming boutique hotels nestled in picturesque landscapes to sleek urban getaways in bustling city centers.</p>
        <p class="lead">With Wander Lust, your dream accommodation is just a click away.</p>
        <p class="lead">Our user-friendly platform makes it effortless to browse, compare, and book your ideal stay, ensuring that your travel planning experience is as seamless as possible.</p>
        <p class="lead">Whether you're a solo adventurer, a romantic couple, or a family seeking quality time together, we have something for everyone.</p>
        <p class="lead">Join us as we ignite your wanderlust and inspire your next unforgettable journey. Start exploring now and let the adventures begin!</p>
        <h2 class="mt-5">Welcome to Wander Lust - Where Every Stay is an Adventure!</h2>
        <p class="text-muted">🌍✨</p>

        <form action="/listings" method="get">
            <button class="btn btn-outline-dark mt-1">Welcome</button>
        </form>
      </div>
    </div>
  </div>